@font-face {
    font-family: 'ChunkFive Print';
    src: url('fonts/ChunkFivePrint.woff2') format('woff2'),
        url('fonts/ChunkFivePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-Caption.woff2') format('woff2'),
        url('fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 1em/1.5 'PT Sans Caption';
    padding: 0;
    width: min(100vw, 1500px);
    margin: 0 auto;
    display: flex;
}

.bananas-container {
    position: relative;
}

.bananas-img{
    height: max(100vh, 800px);
}

.logo-container{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.logo-name{
    position: relative;
    right: 120px;
    top: 5px;
    font: 4rem 'ChunkFive Print';
    color: rgb(0, 255, 255);
    text-shadow: 0 0 10px yellow;
    
}

form {
    height: max(100vh, 500px);
}



p:first-of-type{
    width: max(750px, 80%);
    margin: 110px 48px 50px 48px;
    font-size: 1.4em;
}

section{
    padding: 20px 48px 42px 48px;
    box-shadow: 3px 3px 10px #999;
}

.inputs-container{
    margin-top: 16px;
}



.inputs-line{
    display: flex;
    gap: 100px;
    margin-bottom: 16px;
}


.inputs-line > div{
    display: flex;
    flex-direction: column;
}

input{
    height: 32px;
    width: clamp(200px, 15vw ,800px);
    border: 1px solid #ccc;
    border-radius: 3px;  
}

span{
    position: relative;
}

input[required]:user-invalid + span::after{
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: black;
    background-color: red;
    padding: 5px 10px;
    right: 0;
}

input[type=email]:user-invalid + span::after{
    font-size: 0.7rem;
    position: absolute;
    content: "please enter a valid email";
    color: black;
    background-color: red;
    padding: 5px 10px;
    right: 0;
}
input[type=password]:user-invalid + span::after{
    font-size: 0.7rem;
    position: absolute;
    content: "8-30 characters with at least 1 digit and uppercase letter";
    color: black;
    background-color: red;
    padding: 5px 10px;
    right: 0;
}

input:focus{
    border: 1px solid #1100ff;
    box-shadow: 1px 1px 3px;
    outline: none;
}

input:user-invalid{
    border: 1px solid #f00;
}

button {
    margin: 24px 48px;
    padding: 12px 48px;
    border-radius: 5px;
    background-color: yellow;
    border: none;
    box-shadow: 1px 1px 3px #aaa;
    cursor: pointer;
    font-family: PT Sans Caption;
    font-weight: 600;
}

button:hover{
    background-color: rgb(248, 248, 91);
}

button:active{
    background-color: rgb(255, 217, 0);
}

button + p{
    font-size: 0.8rem;
    margin-left: 48px;
}

a{
    color: rgb(219, 193, 46)
}



