@font-face {
    font-family: 'ChunkFive Print';
    src: url('fonts/ChunkFivePrint.woff2') format('woff2'),
        url('fonts/ChunkFivePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('fonts/PTSans-Caption.woff2') format('woff2'),
        url('fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::after, *::before{
    margin: 0;
    box-sizing: border-box;
}

body{
    font: 1em/1.5 'PT Sans Caption';
    padding: 0;
    width: 80vw;
    margin: 0 auto;
    display: flex;
}

.bananas-container {
    position: relative;
}

.bananas-img{
    height: 100vh;
}

.logo-container{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.logo-name{
    position: relative;
    right: 120px;
    top: 5px;
    font: 4rem 'ChunkFive Print';
    color: rgb(0, 255, 255);
    text-shadow: 0 0 10px yellow;
}

form {
    max-height: 100vh;
}

form > p{
    width: 80%;
    margin: 110px 48px 50px 48px;
    font-size: 1.4em;
}

section{
    padding: 20px 48px 42px 48px;
    box-shadow: 3px 3px 10px #999;
}

.inputs-container{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.inputs-container>div{
    display: flex;
    flex-flow: wrap column;
    width: 400px;
}

input{
    height: 32px;
}




